<!-- statuses-form.handlebars -->

<div id="statusForm">
  <form method="POST" action="/statuses/">
    <!-- SUBJECT -->
    <div class="form-group">
      <label for="subject">Subject</label>
      <input class="form-control" type="text" name="subject" value="{{{status.subject}}}"/>
    </div>

    <!-- CITY -->
    <div class="form-group">
      <label for="city">City</label>
      <input class="form-control" type="text" name="city" value="{{{status.city}}}" />
    </div>

    <!-- COUNTRY -->
    <div class="form-group">
      <label for="country">Country</label>
      <input class="form-control" type="text" name="country" value="{{{status.country}}}" />
    </div>

    <!-- KEYWORD(S) -->
    <div class="form-group">
      <label for="keywords">Keyword(s)</label>
      <input class="form-control" type="text" name="keywords" value="{{{status.keywords}}}" />
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" rows="10" />{{{status.description}}}</textarea>
    </div>

    <!-- BUTTON -->
    <button type="submit" class="btn btn-primary">Save Status</button>
  </form>
</div>
