<!-- statuses-index.handlebars (DNworld) -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
    <h1>All Statuses</h1>
    {{#each statuses}}
      <a href="/statuses/{{this._id}}">
        <h1>{{ this.subject }}</h1>
        <h5>{{ this.city }}</h5>
        <h4>{{ this.country }}</h4>
        <p>{{ this.description }}</p>
        <a href="">Test Edit Button</a>
      </a>
    {{/each}}
  </div>
</div>
